.Summary-icon{
    height:20px;
    width: 20px;
    vertical-align: middle;
    padding-right: 8px;
}

.Summary-infoTitle {
    font-weight: bold;
}

.Summary-info {
    padding-left: 10px;
}

.Summary-canBuyImage {
    height: 100px;
    width: 100px;
}