.introShoppingContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.introShoppingListBox {
    width: 48%;
    height: 10rem;
    box-sizing: border-box;
    border: 1rem solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.introShoppingListBox-grocery::after {
    content: "";
    background: url('../../images/grocery.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
}

.introShoppingListBox-clothes::after {
    content: "";
    background: url('../../images/clothes.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
}

.introShoppingListBox-holiday::after {
    content: "";
    background: url('../../images/holiday.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
}

.introShoppingListBox-insurance::after {
    content: "";
    background: url('../../images/car.jpeg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
}

/*.introShoppingListBox:first-child {*/
    /*border-radius: 100% 0 0 0;*/
/*}*/
/*.introShoppingListBox:nth-child(2) {*/
    /*border-radius: 0 100% 0 0;*/
/*}*/
/*.introShoppingListBox:nth-child(3) {*/
    /*border-radius: 0 0 0 100%;*/
/*}*/
/*.introShoppingListBox:nth-child(4) {*/
    /*border-radius: 0 0 100% 0;*/
/*}*/
.introShoppingListBox:nth-child(odd) {
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.introShoppingLabel {
    font-size: 1.5rem;
    background-color: white;
    padding: .4rem;
    z-index: 2;
}

@media (min-width: 31rem) {
    .introShoppingListBox {
        height: 20rem;
    }
}