.background-blue {
    background-color: blue;
}

.background-yellow {
    background-color: yellow;
}

.background-green {
    background-color: green;
}

.background-pink {
    background-color: hotpink;
}