.groceryShoppingListContainer {
    display: flex;
    justify-items: center;
    align-items: center;
}
.groceryShoppingListContainer .text {
    width: 30%;
}
.groceryShoppingListContainer .arrowRight {
    width: 20%;
}
.groceryShoppingListContainer .ShoppingList-Container {
    width: 40%;
    padding-left: 1rem;
}

.groceryInfo-finishedLink {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: .4rem solid black;
    box-shadow: 9px 9px #999;
    text-decoration: none;
    margin: 10px auto;
    width: 143px;
    display: block;
}

.groceryInfo-finishedLink:hover {background-color: #3e8e41}

.groceryInfo-finishedLink:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.groceryInfo-budget {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}