.displayItemContainer {
    display: flex;
    flex-wrap: wrap;
}

.displayItemItem {
    position: relative;
    box-sizing: border-box;
    width: 48%;
    padding: 0 .4rem 4rem;
}

.displayItemItem h3 {
    min-height: 3rem;
}
.displayItemsImgContainer {
    min-height: 15rem;
}
.displayItemItem img {
}
@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    99% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
    100% {

    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    99% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
    100% {

    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    99% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
    100% {

    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    99% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
    100% {

    }
}
.displayItemItem button {
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: 0;
    height: 60px;
    max-width: 250px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: .3rem solid currentColor;
}
.displayItemItem button:before, .displayItemItem button:after {
    position: absolute;
    top: 50%;
    content: '';
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
}
.displayItemItem button:before {
    left: -20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.displayItemItem button:after {
    right: -20px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}
.displayItemItem button:focus:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.displayItemItem button:focus:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@media (min-width: 500px) {
    .displayItemItem {
        width: 30%;
    }
}

@media (min-width: 700px) {
    .displayItemItem {
        width: 25%;
    }
}

.displayItems-img {
    max-width: 100%;
    height: auto;
    max-height: 219px;
}
