* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: black;
}

body {
    margin: 0;
}

button {
    width: 99%;
    box-sizing: border-box;
    padding: .4rem .6rem;
    border: .2rem solid #000000;
    margin: .4rem .2rem;
}

.headerContainer {
    display: flex;
    padding: 3rem 1rem;
    display: block;
    background-color: hotpink;
    border-bottom: black solid .4rem;
}

.headerContainer h1 {
    display: inline-block;
    padding: .5rem;
    margin: 0;
    text-shadow: 1px 1px #ccc;
}

.mainSiteContainer {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

h1 {
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 800;
}

label {
    margin-right: .5rem;
}
input {
    padding: .4rem;
    font-size: 1rem;
    border: .2rem solid #000000;
}
.logo {
    width: 5rem;
    float: right;
    margin-right: 1rem;
    margin-top: -.8rem;
    justify-self: flex-start;
}